<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block head %}
        <link rel="stylesheet" href="/assets/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.css" />
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>
    <body>
    <div class="off-canvas-wrapper">
        <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

            <div class="off-canvas position-left reveal-for-large" id="my-info" data-off-canvas data-position="left">
                <div class="row column">
                    <br>
                    <img class="thumbnail logo float-center" src="/assets/images/moodle.jpg">
                    <h5>Création fichier json</h5>
                    <p>Choisir les composants et créer le fichier en un click de bouton.</p>
                </div>
            </div>

            <div class="off-canvas-content" data-off-canvas-content>
                <div class="title-bar hide-for-large">
                    <div class="title-bar-left">
                        <button class="menu-icon" type="button" data-open="my-info"></button>
                        <span class="title-bar-title">MDL - File creator</span>
                    </div>
                </div>
                <div class="callout primary">
                    <div class="row column">
                        <h2>Création du fichier d'installation.</h2>
                        <p class="lead">Séléctionner les composantes à installer.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="medium-12 columns">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>

            <hr>


        </div>
    </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.js"></script>
        <script>
            $(document).foundation();
        </script>
    </body>
</html>